#header-container{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    max-height: 100%;
    font-family: "Merriweather", serif; 
}

#header-full{
    height: 100px;
    background-color: #417506;
    color: #faf55a;
    box-shadow: 0 10px 11px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
    color: #faf55a;
}

.header-icon{
    height: 90px;
}

.navbar-text{
    margin-left: 20px;
}