<footer id="footer-container">
    <div class="footer-content">
        <img class="footer-icon" src="assets/icon_transparent.png">
        <ul class="footer-list">
            <li class="contact-header">
                <span>Opciók</span>
            </li>
            <li class="contact-info">
                <a routerLink="/index">
                    <span class="contact-text">Kezdőlap</span>
                </a>
            </li>
            <li class="contact-info">
                <a routerLink="/masszazsok">
                    <span class="contact-text">Masszázsok</span>
                </a>
            </li>
        </ul>
        <ul class="footer-list">
            <li class="contact-header">
                <span>Kapcsolat</span>
            </li>
            <li class="contact-info">
                <mat-icon> email</mat-icon>
                <span class="contact-text">pirinyo79&#64;freemail.hu</span>
            </li>
            <li class="contact-info">
                <mat-icon> phone</mat-icon>
                <span class="contact-text">06 (30) 356 5012</span>
            </li>
            <li class="contact-info">
                <mat-icon> location_on</mat-icon>
                <span class="contact-text">Répcelak, Arany János utca</span>
            </li>
        </ul>
    </div>
</footer>
